//
//  .gitignore
//  My_Birdle
//
//  Created by KimChhay Leng on 5/11/2025.
//

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Xcode build files
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Swift Package Manager
.swiftpm/
.build/
